<Configuration>
    <TimeSeriesArchived>1</TimeSeriesArchived>
    <Network>EM</Network>
    <Project>USGS-GEOMAG</Project>
    <Survey>Florida 2015 Long Period</Survey>
    <YearCollected>2015</YearCollected>
    <Country>USA</Country>
    <Tags>impedance,tipper</Tags> 
    <Citation>
      <Title>Long-period magnetotelluric transfer functions from the Florida Peninsula</Title>
      <Authors>Bedrosian, P. A., A. Kelbert, B. L. Burton, J. R. Morris and C. Blum</Authors>
      <Year>2015</Year>
      <SurveyDOI>doi:10.17611/DP/EMTF/USGS/GEOMAG/FL15</SurveyDOI>
    </Citation>
    <THANKS>../Florida_acknowledgements.txt</THANKS>
    <PAPERS>../Florida_selectedpubs.txt</PAPERS>
    <README>../Florida_readme.txt</README>
    <ReleaseStatus>Unrestricted Release</ReleaseStatus>
	<AcquiredBy>USGS Geomagnetism Program, Geologic Hazards Science Center</AcquiredBy>
	<Creator>
		<Name>Paul Bedrosian and Anna Kelbert</Name>
		<Email>pbedrosian@usgs.gov</Email>
		<Org>U.S. Geological Survey</Org>
		<OrgUrl>http://usgs.gov</OrgUrl>
	</Creator>
	<Submitter>
		<Name>Anna Kelbert</Name>
		<Email>akelbert@usgs.gov</Email>
		<Org>U.S. Geological Survey</Org>
		<OrgUrl>http://geomag.usgs.gov</OrgUrl>		
	</Submitter>
	<ProcessedBy>Paul Bedrosian and Anna Kelbert</ProcessedBy>
	<ProcessingSoftware>
		<Name>EMTF</Name>
		<LastMod>2015-08-26</LastMod>
		<Author>Gary Egbert</Author>
	</ProcessingSoftware>
	<OrthogonalGeographic>1</OrthogonalGeographic>
	<Image>png</Image>
	<Original>zmm</Original>
	<RunList>Runs.xml</RunList>
	<SiteList>Sites.xml</SiteList>
	<ChannelList>Channels.xml</ChannelList>
</Configuration>
